*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}
.row{
  height: 36px;
  border-color: lightblue;
}
.row [class*="col-"]{
  float: left;
  height: 100%;
}

.col-1{
  width: calc(100% / 33 * 1);
}

.col-2{
  width: calc(100% / 33 * 2)
}

.col-3{
  width: calc(100% / 33 * 3)
}

.col-4{
  width: calc(100% / 33 * 4)
}

.col-5{
  width: calc(100% / 33 * 5)
}

.col-6{
  width: calc(100% / 33 * 6)
}

.col-7{
  width: calc(100% / 33 * 7)
}

.col-8{
  width: calc(100% / 33 * 8)
}

.col-9{
  width: calc(100% / 33 * 9)
}

.col-10{
  width: calc(100% / 33 * 10)
}

.col-11{
  width: calc(100% / 33 * 11)
}

.col-12{
  width: calc(100% / 33 * 12)
}

.col-33{
  width: calc(100% / 33 * 33)
}

.col-offset-1{
  margin-left: calc(100% / 33 * 1)
}

.col-offset-2{
  margin-left: calc(100% / 33 * 2)
}

.col-offset-3{
  margin-left: calc(100% / 33 * 3)
}

.col-offset-4{
  margin-left: calc(100% / 33 * 4)
}

.col-offset-5{
  margin-left: calc(100% / 33 * 5)
}

.col-offset-6{
  margin-left: calc(100% / 33 * 6)
}

.col-offset-7{
  margin-left: calc(100% / 33 * 7)
}

.col-offset-8{
  margin-left: calc(100% / 33 * 8)
}

.col-offset-9{
  margin-left: calc(100% / 33 * 9)
}

.col-offset-10{
  margin-left: calc(100% / 33 * 10)
}

.col-offset-11{
  margin-left: calc(100% / 33 * 11)
}

.col-offset-12{
  margin-left: calc(100% / 33 * 12)
}

.col-offset-15{
  margin-left: calc(100% / 33 * 15)
}

.col-offset-16{
  margin-left: calc(100% / 33 * 16)
}

.col-offset-29{
  margin-left: calc(100% / 33 * 29)
}
