.black{
  background-color: black;
}

.red{
  background-color: #BE2E37;
}

.yellow{
  background-color:#FFC13C;
}

.white{
  background-color: white;
}

.pink{
  background-color: #E4C597;
}

.lightblue{
  background-color: #426899;
}

.green{
  background-color: #096A3F;
}

.brown{
  background-color: #62483B;
}

.row [class*="col-"]{
  float: left;
  height: 100%;
}
